
@media (max-width: 769px) {
     .li {
        display:none;
    }
}
@media (  max-width :1200px){

    .section{    
        object-fit: cover;
        max-width:300px;
   width:100%;
        Height: 100%;
    
        padding: 10px;  
    }
    }

    @media (  max-width :1200px){

        .section2{ 
            object-fit: cover;
            max-width:300px;
            width:100%;
            Height: 100%; 
            padding: 10px;
                                             
            
               
        }
        }
        @media (  max-width :769px){

        .box {
            display:none;
        }    
    
        }



    
