
@media (max-width: 769px) {
     .li {
        display:none;
    }
}
@media (  max-width :1200px){

    .section{    
        object-fit: cover;
        Max-height: 300px;
        Height: 100%;
        margin: 10px;
        padding: 10px;  
    }
    }

    @media (  max-width :1200px){

        .section2{ 
            object-fit: cover;
            Max-height: 300px;
            Height: 100%; 
            padding: 10px;                                  
            
               
        }
        }
        @media (  max-width :769px){

        .box {
            display:none;
        }    
    
        }



    
